body {
    font-family: 'Larsseit';
}

h1 {
    font-size: 24px;
    line-height: 27px;
    color: #62D0DF;

}

h2 {
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #62D0DF;
}

h3 {
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.035em;
    color: #22356F;
}

main {
    background-color: #F4F9E2;
}

.button:hover {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.site-navigation__link {
    font-size: 14px;
    line-height: 16px;
    color: #22356F;
    text-decoration: none;
}

.site-navigation__link--current {
    text-decoration: underline;
}

.button__contact {
    padding: 0.5%;
    background-color: #62D0DF;
    border-radius: 30px;
}

.wellcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 840px;
}

.wellcome__content {
    margin: 5em;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.welcome-text {
    color: #22356F;
    font-size: larger;
    line-height: 2;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.button__primary {
    width: 150px;
    height: 50px;
    background: #F9B640;
    border: none;
    color: #fff;
}

.button__secondary {
    border: none;
    background-color: transparent;
    color: #FAB63E;
}

.advantages {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 607px;
    background: #62D0DF;
    }

    .advantages__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.advantages__title, .advantages__info {
    margin: 1em;
    color: #fff;
}

.advantages__info {
    width: 50%;
    font-size: larger;
}

.advantages__info--important {
    font-weight: bolder;
}

.service-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 366px;
    color: #22356F;
}

.service-about__title {
    font-size: smaller;
    margin: 5%;
}

.service-about__info {
    margin: 5em;
    font-size: larger;
    width: 50%;
}

.dot {
    color: #FAB63E;
    font-size: larger;
}

.product-info__title {
    text-align: center;
    color: #D9D9D9;
    font-size: small;
}

.product-info__cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 360px;
    color: #fff;
}

.product-cards__text {
    padding: 1%;
}

.product-cards__item--lift {
    width: 360px;
    height: 360px;
    background-color: #FFE2DE;
}

.product-cards__item--run {
    width: 360px;
    height: 360px;
    background-color: #C4E769;
}

.product-cards__item--pump {
    width: 360px;
    height: 360px;
    background-color: #62D0DF;
}

.product-cards__item--iron {
    width: 360px;
    height: 360px;
    background-color: #0052C1;
}

.product-cards--extended {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 100vw;
    height: 960px;
}

.product-cards__item--health {
    width: 480px;
    height: 480px;
    background-color: #22356F;
}

.product-cards__item--mental {
    width: 480px;
    height: 480px;
    background-color: #0052C1;
}

.product-cards__item--nutrition {
    width: 480px;
    height: 480px;
    background-image: url(/assets/joanna-kosinska-340748.png);
}

.product-cards__item--gymnastics {
    width: 480px;
    height: 480px;
    background-color: #62D0DF;
}

.product-cards__item--crossfit {
    width: 480px;
    height: 480px;
    background-color: #DEE1FF;
}

.product-cards__item--aerobics {
    width: 480px;
    height: 480px;
    background-color: #8F00FF;
}

.product-info__cards--description {
    display: flex;
    flex-direction: row;
    flex-flow: column wrap;
    align-items: center;
    width: 100vw;
    height: 480px;
    color: rgba(34, 53, 111, 0.5);
}

.textssix {
    width: 480px;
    height: 240px;
}

.shouldknow {
    width: 100vw;
    height: 800px;
    display: flex;
}

.youshould {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.sign-up {
    width: 100vw;
    height: 800px;
    display: flex;
    background-color: #22356F;
    color: #FFFFFF;
    justify-content: space-between;
}

.laughingman {
    align-self: flex-end ;
}

.footer-info {
    display: flex;
    width: 100vw;
height: 380px;
}

.footer-info__contacts {
    display: flex;
    align-items: center;
}

.footer-info__copyright {
    width: 100vw;
    height: 80px;
    background: #62D0DF;
    color: #FFFFFF;
}